.nav{
    position: fixed;
    top: 0;
    width:100%;
    height:30px;
    z-index: 1;

    display:flex;
    justify-content: space-between;
    padding:20px;
   
}
.nav-black{
    background-color:black;

}
.nav-logo{
    position: fixed;
    left: 20px;
    width :80px;
    object-fit: contain;

}

.nav-ava{
    position: fixed;
    right: 20px;
    width:30px;
    object-fit: contain;

}